
<div class="content-indent {{ section.settings.top-offeset}}">
<div class="quote-bg wow fadeInUp">  
    <div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
      <div class="quote-bg-inner">
     
      {%- if section.settings.title != blank -%}
      	<div class="sec-ttl {{ settings.title_align}}"><h3 class="h3">{{ section.settings.title }}</h3></div>
      {%- endif -%}

      {% if section.blocks.size > 0 %}
      <div class="quotes-wrapper {{section.settings.quoteStyle}}">
        <div class="quotes-slider" id="Quotes-{{ section.id }}" id="Quotes-{{section.id}}" data-slick='{"slidesToShow":{% if section.settings.quoteStyle == "style1" %} 1 {% else %} 3 {% endif %},"autoplay":{{ section.settings.autoplay }}, "autoplaySpeed":{{section.settings.autoplay_speed | times: 1000}},"arrows":{{section.settings.arrow}},"dots":{{section.settings.dots}},{%- if settings.rtl -%}"rtl": true,{%- endif -%}"responsive":[{"breakpoint": 768,"settings":{"slidesToShow":1}} ]}'>
          {% for block in section.blocks %}
          <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
            <div class="test_box">
              <div class="author_section">
            {% if block.settings.image != blank %}
            <span class="author-pic">
              {% if section.settings.quoteStyle == 'style1' or section.settings.quoteStyle == 'style2' %} 
                <img src="{{block.settings.image |img_url:'100x100',crop: 'center'}}" alt="" /> 
              {% else %}
            	<img src="{{block.settings.image |img_url:'500x300',crop: 'center'}}" alt="" /> 
              {% endif %}
            </span>
             
          
            {% endif %}
             {% if block.settings.author != blank %}
              <p class="authour">{{ block.settings.author }}</p>
              {% endif %}
            </div>
              <div class="text_section">
            <blockquote class="quotes-slider__text text-center">             
              {% if block.settings.quote != blank %}
              <div class="rte-setting">{{ block.settings.quote }}</div>
              {% endif %}

              {% if block.settings.display_rat %}
              {% if block.settings.rating == 1 %}<span class="ratings"><i class="ad ad-star"></i><i class="ad ad-star-o"></i><i class="ad ad-star-o"></i><i class="ad ad-star-o"></i><i class="ad ad-star-o"></i></span>{% endif %}
              {% if block.settings.rating == 2 %}<span class="ratings"><i class="ad ad-star"></i><i class="ad ad-star"></i><i class="ad ad-star-o"></i><i class="ad ad-star-o"></i><i class="ad ad-star-o"></i></span>{% endif %}
              {% if block.settings.rating == 3 %}<span class="ratings"><i class="ad ad-star"></i><i class="ad ad-star"></i><i class="ad ad-star"></i><i class="ad ad-star-o"></i><i class="ad ad-star-o"></i></span>{% endif %}
              {% if block.settings.rating == 4 %}<span class="ratings"><i class="ad ad-star"></i><i class="ad ad-star"></i><i class="ad ad-star"></i><i class="ad ad-star"></i><i class="ad ad-star-o"></i></span>{% endif %}
              {% if block.settings.rating == 5 %}<span class="ratings"><i class="ad ad-star"></i><i class="ad ad-star"></i><i class="ad ad-star"></i><i class="ad ad-star"></i><i class="ad ad-star"></i></span>{% endif %}
              {% endif %}

              
            </blockquote>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
      {% endif %}
		</div>
    </div>
  </div>
</div>